<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <title>Create new budget</title>
</head>

<body>
    <div class="container">
        <h1>Add a new item</h1>

        <form action="/budgets" method="POST">
            <input type="text" name="date" placeholder="Date"/><br />
            <input type="text" name="name" placeholder="Name"/><br />
            <input type="text" name="amount" placeholder="Amount"/><br />
            <input type="text" name="from" placeholder="From"/><br />
            <input type="submit" value="CREATE NEW ITEM" />

        </form>
</body>

</html>